@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
	--side-bar-width: 250px;
	--side-bar-title-height: 50px;
	--side-bar-footer-height: 40px;

	--content-main-header: var(--side-bar-title-height);

	--color-primary: #0785C0;
	--color-secondary: #5FEE82;
	--color-content: rgba(0,0,0,0.25);
}


*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: ghostwhite;
	transition: .3s ease-out;
}

.main{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background: linear-gradient(55deg, var(--color-primary), var(--color-secondary));
}

.side-bar{
	position: relative;
	height: 100%;
	width: var(--side-bar-width);
	display: flex;
	flex-direction: column;
	background: var(--color-content);
}

.side-bar > i{
	position: absolute;
	width: var(--content-main-header);
	height: var(--content-main-header);
	right: calc(-1*var(--content-main-header));
	z-index: 999;
	bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-content);
	border-radius: 0 10px 10px 0;
}

.side-bar > i.active{
	transform: rotateY(180deg);
	border-radius: 10px 0 0 10px;
}

.side-bar-title{
	position: relative;
	height: var(--side-bar-title-height);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.side-bar-header{
	position: relative;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.side-bar-header img{
	width: 70%;
	margin: 10px 0;
}

.side-bar-body{
	position: relative;
	width: 100%;
	flex: 1;
}

.side-bar-menu{
	display: flex;
	flex-direction: column;
}

.side-bar-menu-item{
	position: relative;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.side-bar-menu-item:hover{
	background: var(--color-primary);
	cursor: pointer;
}

.side-bar-menu-item i{
	width: 50px;
	text-align: center;
}

.side-bar-menu-item p{
	width: 100%;
}

.side-bar-footer{
	position: relative;
	height: var(--side-bar-footer-height);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-main{
	position: relative;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content-main-header{
	position: relative;
	width: 100%;
	height: var(--content-main-header);
	background: var(--color-content);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content-main-header i{
	height: 100%;
	width: var(--content-main-header);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-main-header p{
	text-align: center;
	flex: 1;
}

.content-main-header i:hover{
	background: var(--color-primary);
}

.content-main-body{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	overflow-y: auto;
	padding: 10px 0;
}


.row{
	display: flex;
	flex-direction: row;
}

.column{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.box{
	padding: 10px;
	flex: 1;
	background: var(--color-content);
	margin: 5px;
}